.content__bg{
    position: relative;
    & .bg_heading{
        font-size:8rem;
        font-family: 'Lobster', cursive;
        background-image: url(../img/view-1.jpg);
        background-clip: text;
        color:transparent;

    }
}