.projects{
    &-group{

        // height:200px;
        &__item{
            padding:3rem;
            position: relative;
            // height:100%;
            &--img{
                height:100%;
                background-size: cover;
                background-position: center;
                aspect-ratio: 16/9;
                border-radius:3rem;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
                &:hover{
                    transition: 0.5s all;
                    filter: brightness(70%);
                }
            }
            .btn{
                position:absolute;
                opacity:0;
                top:35%;
                transform:translateX(-50%);
                z-index: 2;
                transition: all 0.2s;
                &:hover ~ .projects-group__item--img{
                    filter: brightness(70%);
                }
            }
            @include respond(phone){
                padding:1rem 3rem;
            }
        }
    }
}
